{% extends 'admin/base.html.twig' %}

{% block title %}New Meuble{% endblock %}

{% block body %}
    <h1>Create new Meuble</h1>

    {{ include('admin/meuble/_form.html.twig') }}

    <a href="{{ path('app_admin_meuble_index') }}">back to list</a>
{% endblock %}
